#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  width: 80%;
  max-width: 500px; /* Un ancho máximo para escritorio */
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  text-align: center; /* Centrar texto y botón */
  background-color: white; /* Asumiendo que es blanca */
  text-align:center;
}
